<launch>
  <arg name="world_name" default="$(find aws_robomaker_small_house_world)/worlds/small_house.world" />
  <arg name="model" default="waffle" />

  <!-- Launch turtlebot3 bringup -->
  <include file="$(find mapping)/launch/bringup.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="model" value="$(arg model)" />
    <arg name="rviz_config" value="$(find mapping)/rviz/mapping.rviz" />
  </include>

  <!-- Start mapping -->
  <include file="$(find mapping)/launch/turtlebot3_gmapping.launch">
    <arg name="model" value="$(arg model)" />
  </include>
</launch>
